<nav class="bg-blue-800 p-4 text-white flex justify-between">
  <span class="font-bold text-lg">Globomantics</span>
  <div>
    <a href="/" class="mr-4 hover:underline">Home</a>
    <a href="/about" class="mr-4 hover:underline">About</a>
    <a href="/products" class="mr-4 hover:underline">Products</a>
    <a href="/contact" class="mr-4 hover:underline">Contact</a>
    <a href="/security-demos" class="hover:underline">Security Demos</a>
  </div>
</nav>
